<div class="w-full h-full items-center flex">
  <div class="todo-container flex ">
    <h1>To Do List!</h1>
    <input #newNote class="todo-input" placeholder="Add a new note">
    <button class="add-button" (click)="addnotes(newNote.value)">Add Note</button>
    <div class="todo-list">
        @for (item of notes; track item) {
           <ul>
        <li>
           <input type="checkbox" class="todo-checkbox">
           <span>{{ item.content }}</span>
           <button class="add-button" (click)="deleteNote(item.id)">Delete</button>
        </li>
      </ul>
    }
    </div>
  </div>
  </div>

